.body-color {
    background-color: #F2F2F2;
    width: 100%;
}

.header {
    padding: 2px 12px;
    background-color: black;
    color: white;
    text-align: right;
}

.white {
    margin-top: 15%;
    background-color: white;
    width: 50%;
    padding-left: 3px;
    padding-top: 1%;
    color: #A1A4A6;
}

.top {
    padding-top: 10%;
    padding-left: 5%;
}

.login-button {
    background-color: white;
    width: 75%;
}

.align-right {
    position: absolute;
    margin-left: 80%;
    color: #A1A4A6;
    padding-top: 1%;
}

.logout {
    color: #A1A4A6;
    cursor: pointer;
}

.container-list {
    margin-top: 6%;
}

.course-list {
    border-color: #A1A4A6;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    color: #A1A4A6;
    font-size: 14px;
    margin-top: 4%;
    height: 35px;
    padding-top: 5px;
}

.link-details {
    margin-left: 60%;
    color: #A1A4A6;
    cursor: pointer;
    
}

.code-left {
    margin-right: 5%;
}

.course-description {
    border-color: #A1A4A6;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    color: #A1A4A6;
   
}

.launch-link {
    margin-left: 86%;
    color: #A1A4A6;
    cursor: pointer;
}

.user-input{
    width: 60px:
}

@media only screen and (max-width: 991px) {
  
    .white{
    margin-left: 25%;
    width: 50%;
    }
    
}

@media only screen and (max-width: 468px) {
  
    .white{
    margin-left: 20%;
    width: 50px;
    }
    .login-button{
        width: 50%
    }
    
}